
body {
	margin: 1em;
	font-size: 16px;
}

.code-guide-code {
	padding: 0.5em;
	background-color: #f5f5f5;
	border: 1px solid rgba(0,0,0,0.15);
	width: auto;
	font-size: 14px;
	line-height: 20px;
	margin-right: 25%;
	margin-bottom: 1em;
}

.code-guide-code pre {
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	font-size: inherit;
	line-height: inherit;
}

.colophon {
	font-size: smaller;
	margin-top: 1em;
}

.bootstro-highlight {
	border-radius: 4px;
	margin-left: -4px;
	padding-left: 4px;
}

.code-guide-outro {
	margin-bottom: 1em;
}
