
body {
	margin: 1em;
}

.code-guide-code {
	padding: 0.5em;
	background-color: #f5f5f5;
	border: 1px solid rgba(0,0,0,0.15);
	width: auto;
	font-size: 16px;
	line-height: 24px;
}

.code-guide-code pre {
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	font-size: inherit;
	line-height: inherit;
}
